body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    width: 720px;
    list-style: none;
}

ul li{
    float: left;
    background: url(../img/aba-direita.png) no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../img/aba-esquerda.png) no-repeat top left;
    color: #fff;
}

ul a:hover{
    color: #894a1f;
}

ul .selecionado{
    background: url(../img/aba-direita-atual.png) no-repeat top right;
}

ul .selecionado a{
    background: url(../img/aba-esquerda-atual.png) no-repeat top left;
}