body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset{
    margin: 1em 0em;
    padding: 1em;
    border: 1px solid #ccc;
    width: 400px;
    background-color: #f8f8f8;
}

legend{
    font-weight: bolder;
}

label{
    display: block;
    cursor: pointer; /* fica com a opção de um link para ser clicado*/
}

input{ /*[type="text"]*/
    width: 300px;
}

textarea{
    width: 20em;
    height: 20em;
}

input.radio, input.checkbox, input.submit{
    width: auto;
}




