body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    width: 800px;
    border-collapse: separate;
    /* separate */
}

th, td{
    padding: 7px;
}

th{
    text-transform: uppercase; /* deixar tudo maiusculo*/
    border-top: 1px solid #999;
    border-bottom: 2px solid #111;
    letter-spacing: 0.3em; /* espaçamento entre letras*/
}


tr:hover{
    background-color: #999;
}